
<!-- Toolbar -->
  <div>
    <div class="General-Display">
      <div class="Menu_Side-left">
        <div class="title_Site">
          <img class="logo-Site" src="../assets/img/logo.png" alt="logo site">
        </div>
        <div class="Item-Menu">
          <div class="textsize">
            <h3>Ressources</h3>
          </div>
          <div class="img-logo-menu">
            <img class="Ressources-item" src="../assets/img/menu.png" alt="item menu" >
          </div>
        </div>
        <div class="Item-Menu">
          <div class="textsize">
            <h3>Starred</h3>
          </div>
          <div class="img-logo-menu">
            <img class="Ressources-item" src="../assets/img/star.png" alt="item menu" >
          </div>
        </div>
        <div class="Item-Menu">
          <div class="textsize">
            <h3>Saved</h3>
          </div>
          <div class="img-logo-menu">
            <img class="Ressources-item" src="../assets/img/folder.png" alt="item menu" >
          </div>
        </div>
        <div class="Item-Menu">
          <div class="textsize">
            <h3>Messages</h3>
          </div>
          <div class="img-logo-menu">
            <img class="Ressources-item" src="../assets/img/blackberry-messenger.png" alt="item menu" >
          </div>
        </div>
        <div class="container-backpack">
          <img class="backpack-style" src="../assets/img/backpack.png" alt="backpack" >
        </div>
        <div class="promotion-style">
          <h4>Pro account is more powerful. Get 30% Off</h4>
        </div>
        <div class="GetPro-style">
          <h2>Get Pro</h2>
        </div>
      </div>
      <div class="generalhomePagedisplay">
        <div class="HomePage-style">
          <form class="example-form">
            <mat-form-field appearance="standard">
              <mat-label>Search everything</mat-label>
              <mat-icon matPrefix>
                <img class="search-image" src="../assets/img/search.png" alt="search logo">
              </mat-icon>
              <input matInput>
            </mat-form-field>
          </form>
          <div class="menu-right">
            <img class="notification-img" src="../assets/img/notification.png" alt="notification" >
            <img class="banner-img" src="../assets/img/banner.png" alt="banner logo" >
            <div class="New_Post">
              <h2>New Post</h2>
            </div>
          </div>
        </div>
        <div class="design-resources-banner">
          <div class="text-Design">
            <h2 class="design-resouces">Design Resources</h2>
          </div>
          <div class="This-week_Style">
            <h2>This week</h2>
            <img class="arrow-size" src="../assets/img/arrow.png" alt="arrow" >
          </div>
          <div class="arrow-next-return">
            <img class="return-arrow" src="../assets/img/return.png" alt="return arrow" >
            <img class="next-arrow" src="../assets/img/next.png" alt="next arrow" >
          </div>
        </div>
        <div class="card">
          <div class="card-1">
            <div class="banner-card">
              <h2 class="Typography">Typography</h2>
              <div class="card-arrow-display">
                <img class="card-arrow" src="../assets/img/nextsimple.png" alt="next arrow" >
              </div>
            </div>
            <p>The type scale is a combinaison of thirteen styles that are supported by the type system.</p>
          </div>
          <div class="card-2">
            <div class="banner-card">
              <h2 class="Illustrations">Illustrations</h2>
              <div class="card-arrow-display">
                <img class="card-arrow" src="../assets/img/nextsimple.png" alt="next arrow" >
              </div>
            </div>
            <p>The type scale is a combinaison of thirteen styles that are supported by the type system.</p>
          </div>
          <div class="card-3">
            <div class="banner-card">
              <h2 class="Typography2">Typography</h2>
              <div class="card-arrow-display">
                <img class="card-arrow" src="../assets/img/nextsimple.png" alt="next arrow" >
              </div>
            </div>
            <img class="card3-img" src="../assets/img/card3.png" alt="image card">
            <div class="text-bottom-card3">
              <h4>The material Design type scale includes a range</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <!--<div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    </footer>

</div>


<router-outlet></router-outlet>